<header>
  <div class="site-name">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="{{ site.baseurl }}/" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a></li>
      <li><a href="{{ site.baseurl }}/about/" {% if page.url contains "/about/" %}aria-current="page"{% endif %}>About</a></li>
      <li><a href="{{ site.baseurl }}/blog/" {% if page.url contains "/blog/" %}aria-current="page"{% endif %}>Blog</a></li>
      <li><a href="{{ site.baseurl }}/projects/" {% if page.url contains "/projects/" %}aria-current="page"{% endif %}>Projects</a></li>
    </ul>
  </nav>
</header>