<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/" style="view-transition-name: site-title">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/about/">about</a>
        <a class="page-link" href="{{ site.baseurl }}/blog/">blog</a>
        <a class="page-link" href="{{ site.baseurl }}/projects/">projects</a>
        <a class="page-link" href="{{ site.baseurl }}/search/" style="view-transition-name: search-button">Search</a>
        <a class="page-link menu-icon" href="{{ site.baseurl }}/menu/" style="view-transition-name: menu-button">Menu</a>
      </div>
    </nav>
  </div>
</header>